<div class="min-h-screen flex items-center justify-center bg-black">
  <div
    class="max-w-xs md:max-w-md w-full space-y-10 p-6 md:p-8 rounded-xl backdrop-blur-sm bg-black/70 border border-white/50 shadow-xl"
  >
    <div class="text-center space-y-3 my-2">
      <h2
        class="text-xl md:text-3xl font-bold text-white font-inter tracking-tight"
      >
        Bienvenido
      </h2>
      <p class="text-gray-300 font-inter text-xs md:text-sm">
        Ingresa tus credenciales para continuar
      </p>
    </div>

    @if (authError()) {
    <div
      class="bg-red-900/30 border border-red-700/50 text-red-100 px-5 py-4 rounded-lg text-center"
      role="alert"
    >
      <span class="block">{{ authError() }}</span>
    </div>
    }

    <form class="space-y-8" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="space-y-6">
        <div>
          <label
            for="email"
            class="block text-xs md:text-sm font-medium text-white font-inter mb-3"
          >
            Correo electrónico
          </label>
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none"
            >
              <i class="fas fa-envelope text-gray-200"></i>
            </div>
            <input
              formControlName="email"
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              class="text-xs md:text-sm appearance-none block w-full pl-11 pr-4 py-3.5 border border-gray-300 rounded-lg bg-black/50 placeholder-gray-200 text-white focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500 transition-all duration-200"
              placeholder="tu@correo.com"
            />
          </div>
          @if (loginForm.get('email')?.invalid &&
          loginForm.get('email')?.touched) {
          <p class="mt-2 text-sm text-red-400 pl-1">
            Por favor ingresa un correo electrónico válido
          </p>
          }
        </div>

        <div>
          <label
            for="password"
            class="block text-xs md:text-sm font-medium text-white font-inter mb-3"
          >
            Contraseña
          </label>
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none"
            >
              <i class="fas fa-lock text-gray-200"></i>
            </div>
            <input
              formControlName="password"
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
              class="text-xs md:text-sm appearance-none block w-full pl-11 pr-4 py-3.5 border border-gray-300 rounded-lg bg-black/50 placeholder-gray-200 text-white focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500 transition-all duration-200"
              placeholder="••••••••"
            />
          </div>
          @if (loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched) {
          <p class="mt-2 text-sm text-red-400 pl-1">
            La contraseña debe tener al menos 6 caracteres
          </p>
          }
        </div>
      </div>

      <div>
        <button
          type="submit"
          [disabled]="loginForm.invalid || isLoading()"
          class="group relative w-full flex justify-center py-3.5 px-4 border-0 text-sm md:text-base font-medium rounded-md text-white bg-violet-800 hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-violet-500 disabled:bg-violet-800 disabled:cursor-not-allowed transition-all duration-200"
        >
          @if (isLoading()) {
          <i class="fas fa-spinner fa-spin mr-2"></i>
          Procesando... } @else { Iniciar sesión }
        </button>
      </div>

      <div class="relative">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-t border-gray-300/50"></div>
        </div>
        <div class="relative flex justify-center text-sm">
          <span class="px-4 bg-black text-gray-300 font-inter"
            >o continúa con</span
          >
        </div>
      </div>

      <div>
        <button
          type="button"
          (click)="loginWithGoogle()"
          class="w-full flex justify-center items-center px-4 py-3.5 border border-gray-300 text-sm md:text-base font-medium rounded-xl text-white bg-black/50 hover:bg-purple-600/20 hover:border-none transition-all duration-200"
        >
          <img src="assets/google.svg" alt="Google logo" class="h-5 w-5 mr-3" />
          Iniciar sesión con Google
        </button>
      </div>
    </form>
  </div>
</div>
